<app-barra-lateral></app-barra-lateral>
<div class="trofeos posicioncomponente pb-5">

  <header class="barra">
      <h3>Trofeos</h3>
  </header>


  <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4 figura" >

          <div class="col" *ngFor="let nivel of niveles; let indice = index">
              <div class="card">
                  <img src="assets/img/{{indice+1}}.png" class="card-img-top" alt="...">
                  <div *ngIf="!trofeos[indice]" class="capa text-center ">
                      <h5 class="card-title ">{{nivel}}</h5>
                  </div>
              </div>
          </div>

      </div>


  </div>

