<app-barra-lateral></app-barra-lateral>
<div class=" posicioncomponente">

  <div class=" container-fluid">
    <div class=" row">
      <div class="col-8">
        <p class=" fs-3 fw-bold"> Cursos Actuales </p>
      </div>
      <div class="col-4">
        <p class=" fs-4"> Agregar curso <i class="fa-solid fa-plus fa-xl"></i> </p>
      </div>
    </div>


  </div>

    <div class="contenedorcursos container-fluid border border-3 bg-light">
        <div class="row">
            <div class="col-4">
              <div class=" m-3 card text-center my-4 border rounded-pill" style="width: 16rem;">
                <div class="card-body bg-color3 border rounded-pill">
                  <h5 class="card-title fs-3 fw-bold">Biologia</h5>
                  <p class="card-text">xx proyecciones en este curso </p>
                  <div class="d-fle">
                    <a  class="btn btn-primary me-4">Ver Curso</a>
                    <a  class="btn btn-light "><i class="fa-solid fa-trash-can"></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>







</div>


