<app-barra-lateral></app-barra-lateral>

<div class=" posicioncomponente">

  <p class=" fs-3 fw-bold mb-5">Estadísticas Generales</p>

<div class=" d-flex">
<ngx-charts-advanced-pie-chart
  ngClass="mt-0 pt-0"
  [view]="[500, 300]"
  [results]="single"
  [gradient]="true"
  class=" m-0 p-0 justify-content-center align-content-center align-items-center" >
</ngx-charts-advanced-pie-chart>

<ngx-charts-bar-horizontal
  [view]="[500, 400]"
  [results]="trofeos"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Estudiante'"
  [yAxisLabel]="'Cantidad trofeos ganados'">
</ngx-charts-bar-horizontal>
</div>





</div>

