<app-barra-lateral></app-barra-lateral>
<div class="posicioncomponente">

  <div class=" container-fluid" >
    <div class=" row">
      <div class="col-4">
        <h1 class=" fs-2 fw-bold mt-2 ms-0 mb-4">{{InformacionEstudiante[0]}} </h1>
        <div class="imagenperfil border border-5 rounded-circle p-4">
          <img *ngIf="generomujer" class=" h-100 w-100" src="https://cdn-icons-png.flaticon.com/512/3021/3021782.png" alt="">
          <img *ngIf="!generomujer" class=" h-100 w-100" src="https://cdn-icons-png.flaticon.com/512/1060/1060894.png" alt="">
        </div>
        <h1 class=" fs-3 fw-bold mt-2 ms-0 mb-2">Datos Personales</h1>
        <ul class="list-group me-5">
          <li class="list-group-item">{{InformacionEstudiante[1]}}</li>
          <li class="list-group-item">Edad: {{InformacionEstudiante[2]}} años</li>
          <li class="list-group-item">Contraseña: {{InformacionEstudiante[3]}}</li>
          <li class="list-group-item">Numero de Trofeos: {{NumeroTrofeos}}</li>
         </ul>
      </div>
      <div class=" col-6 border border-3 rounded-3 bg-light pt-1">
        <h1 class=" text-center fs-3 fw-bold">Avance y calificaciones de los cursos</h1>
        <ngx-charts-bar-vertical
            [view]="[500,230]"
            [results]="calificaciones"
            [xAxisLabel]="'Cursos'"
            [legendTitle]="''"
            [yAxisLabel]="'Calificación Examenes'"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">
        </ngx-charts-bar-vertical>

        <ngx-charts-polar-chart
          [view]="[600,270]"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [yAxisLabel]="'Avance Cursos'"
          [results]="avance">
        </ngx-charts-polar-chart>
      </div>
      <div class="col-2 ps-5 pt-4 mt-4 ">
        <i *ngIf="tipo!='estudiante'" (click)="eliminarEstudiante(InformacionEstudiante[4])" class="borrarEstudiante fa-solid py-5 my-5  fa-person-circle-minus fa-4x color3"></i>
        <i *ngIf="tipo!='estudiante'" class="fa-solid pt-4 mt-4  fa-trophy fa-4x fa-bounce color2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
      </div>
    </div>
  </div>




</div>


  <!-- Modal -->
  <div class="modal fade py-5 " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content habilita mb-5 pb-5">
        <div class="modal-header">
          <h5 class="modal-title titulomodal " id="staticBackdropLabel">HABILITA LOS TROFEOS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">

          <div class="cartas ps-5">
            <div class="row row-cols-1 row-cols-md-5 g-5 figura">

              <div class="col" *ngFor="let trofeo of trofeos; let indice = index">
                <div class="card1">
                  <img *ngIf="oscurecer[indice]" src="assets/img/{{indice+1}}.png" class="card-img-top" alt="...">
                  <img *ngIf="!oscurecer[indice]"  src="assets/img/{{indice+1}}.png" class="card-img-top oscuro" alt="...">
                  <div class="capa text-center ">
                    <div class="modalfooter d-flex">
                      <button type="button" class="boton btn1 btn-secondary rounded-circle ms-2" (click)="desactivar(indice)">X</button>
                      <button type="button" class="boton2 btn1 btn-secondary rounded-circle ms-2" (click)="activar(indice)">✓</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


          </div>
        </div>
      </div>
    </div>
