<div class="container mt-5">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    TROFEOS
  </button>

  <!-- Modal -->
  <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
      <div class="modal-content habilita">
        <div class="modal-header">
          <h5 class="modal-title titulo " id="staticBackdropLabel">HABILITA LOS TROFEOS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">

          <div class="cartas ps-5">
            <div class="row row-cols-1 row-cols-md-5 g-5 figura">

              <div class="col">
                <div class="card">
                  <img *ngIf="!oscurecer" src="assets\img\imagenestrofeos\1.png" class="card-img-top" alt="...">
                  <img *ngIf="oscurecer"  src="assets\img\imagenestrofeos\1.png" class="card-img-top oscuro" alt="...">
                  <div class="capa text-center ">
                    <div class="modalfooter d-flex">
                      <button type="button" class="boton btn btn-secondary rounded-circle ms-2" (click)="desactivar()">X</button>
                      <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2" (click)="activar()">✓</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\2.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\3.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\4.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\5.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\6.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\7.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\8.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\9.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\10.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\11.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\12.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\13.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\14.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="assets\img\imagenestrofeos\15.png" class="card-img-top" alt="...">
                  <div class="modalfooter d-flex">
                     <button type="button" class="boton btn btn-secondary rounded-circle ms-2">X</button>
                     <button type="button" class="boton2 btn btn-secondary rounded-circle ms-2">✓</button>
                  </div>

                  
                </div>
                <div class="modal-footer d-flex">
                 
                </div>
              </div>

            </div>


          </div>
          

          </div>
        </div>
      </div>
    </div>

  </div>