<app-barra-lateral></app-barra-lateral>
<div class=" posicioncomponente">

  <div class=" container-fluid">
    <div class=" row">
      <div class="col-8">
        <p class=" fs-3 fw-bold"> Examenes </p>
      </div>
      <div class="addcurso col-4 cursorpointed" [routerLink]="['/crearExamen']">
        <p  *ngIf="tipo!='estudiante'" class=" fs-4 "> Agregar Examen <i
            class="fa-solid fa-plus fa-xl"></i> </p>
      </div>
    </div>
  </div>


  <div class="contenedorcursos container-fluid border border-3 bg-light">
    <div class="row">
      <div class="col-4" *ngFor="let examen of examenes; let indice = index">
        <div class=" m-3 card text-center my-4 border rounded-pill" style="width: 16rem;">
          <div class="card-body bg-color2 border rounded-start rounded-pill">
            <h5 class="card-title fs-3 fw-bold text-white">{{examen.nombre}} </h5>
            <div class="d-fle">
              <a *ngIf="tipo=='estudiante'" class="btn btn-primary text-center" [routerLink]="['/examen/'+indice]" >Ver Examen</a>
              <a *ngIf="tipo!='estudiante'" class="btn btn-light " ><i *ngIf="tipo!='estudiante'" class="fa-solid fa-trash-can" (click)="borrarexamen(indice)"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











</div>

