<div class="posicioncomponente">
  <div class="color4 border border-danger">
    <section class="container">
      <div class="row">
        <span #CursoTitle class="text-start  m-1 fw-bold color2 fs-1" >Cursos</span>
          <section class="d-flex justify-content-center">

            <div class="boxVideo color3 d-flex justify-content-center mt-0">
              <iframe #AsVideo class="d-flex justify-content-center mt-4 mb-0 " width="450" height="250" src="https://www.youtube.com/embed/QDCohXW6blg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>



            </section>
            <div class="mt-0 d-flex justify-content-evenly ">
              <button type="button" class="btn btn-primary buttonCurso px-4 "   (click)="back()">Atrás</button>
              <button type="button" class="btn btn-primary buttonCurso  px-2 "data-color="false" (click)="forward()" #siguiente>Siguiente</button>
            </div>
          <div>
            <div class="progress m-5 ">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
          </div>
      </div>



    </section>
  </div>

</div>
