<app-navbar></app-navbar>

<div class="col-7 border-end border-5 barra">
  <div class="ms-5 mt-5 ">
    <div class="mb-2"> <a class=" pointer text-decoration-none text-black fs-6"><i
          class="fa-solid fa-graduation-cap mb-3 me-3"></i>
        Estudiantes</a></div>

    <div class="mb-2"><a class=" pointer text-decoration-none text-black"><i
          class="fa-solid fa-chalkboard-user mb-3 me-3"></i> Cursos</a></div>

    <div class="mb-2"><a class=" pointer text-decoration-none text-black"><i
          class="fa-solid fa-clipboard-question mb-3 me-3"></i>
        Examenes</a></div>

    <div class="mb-2"><a class=" pointer text-decoration-none text-black"><i
          class="fa-solid fa-chart-line mb-3 me-3"></i>
        Estadisticas</a></div>
  </div>


</div>
