<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold fs-2 my-0 py-0 mx-5" href="#">Academy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon blanco"><i class="fa-solid fa-book fa-2xl"></i></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link disabled text-white">TituloDelComponente</a>
        </li>
      </ul>
      <div class="d-flex me-2 p-0 "  >
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->

        <div class="btn-group " role="group">

          <button id="btnGroupDrop1" type="button" class="btn  d-flex justify-content-center align-content-center align-items-center p-0" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="iconoPerfil bg-white border rounded-circle  d-flex justify-content-center align-content-center align-items-center m-0 p-0">
            <img class="w-75 m-0 p-0" src="https://cdn.icon-icons.com/icons2/936/PNG/512/user-shape_icon-icons.com_73346.png" alt="">
          </div>
          <p class="nombreUsuario fs-6 fw-bold text-white ms-0 mt-2 me-0 pe-0">NombreDelUsuario</p>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

